<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">KupiSega</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Додади нов продукт</h1>
    </div>
</section>


<div class="container">
    <form th:action="@{/items/{id} (id=${item?.getId()})}" th:method="POST">
        <div class="form-group">

            <div class="form-group">
                <label for="name">Име на продуктот</label>
                <input type="text"
                       id="name"
                       name="name"
                       required
                       class="form-control"
                       placeholder="Внеси име за продуктот"
                       th:value="${item?.name}">
            </div>
            <div class="form-group">
                <label for="name">Опис на продуктот</label>
                <input type="text"
                       name="description"
                       id="description"
                       class="form-control"
                       placeholder="Внеси опис за продуктот"
                       th:value="${item?.description}">
            </div>
            <div class="form-group">
                <label for="name">Цена на продуктот</label>
                <input type="text"
                       name="price"
                       id="price"
                       class="form-control"
                       placeholder="Внеси цена за продуктот"
                       th:value="${item?.price}">
            </div>
            <div class="form-group">
                <label for="name">Одбери материјал</label>
                <select name="materialId" class="form-control">

                    <option th:each="mat : ${materials}" th:text="${mat.typeOfMaterial}" th:value="${mat?.id}">
                    </option>

                </select>
            </div>
            <div class="form-group">
                <label for="name">Одбери категорија</label>
                <select name="categoryId" class="form-control">
                    <option th:each="cat: ${categories}" th:text="${cat.type}" th:value="${cat?.id}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Одбери големина</label>
                <select name="size" class="form-control">
                    <option th:each="size: ${sizes}" th:text="${size}" >
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Прва слика</label>
                <input type="text"
                       name="image1"
                       id="image1"
                       class="form-control"
                       placeholder="Внеси прва слика за продуктот"
                       th:value="${item?.image1}">
            </div>
            <div class="form-group">
                <label for="name">Втора слика</label>
                <input type="text"
                       name="image2"
                       id="image2"
                       class="form-control"
                       placeholder="Внеси втора слика за продуктот"
                       th:value="${item?.image2}">
            </div>

            <button type="submit" class="btn btn-primary"> Submit </button>
            <a type="button" class="btn btn-primary" href="/items">Back</a>
        </div>

    </form>



</div>


</body>
</html>
